# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cloudsim\cloudsim-cloudsim-4.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
